/*Modelo de Caixa*/

body {
    border: 3px solid blue;
    font-family: monospace;
    font-size: 16px;
    background-color: #ffdab9;
}

#main {
    margin: 10px auto 10px;
    width: 800px;
    border: 3px solid #6A5ACD;
    
}


body h2 {
    border: 3px solid green;
    width: 50%;
    margin: 3px auto 3px;
    text-align: center;
    text-decoration: overline;
    background-color: gray;
    padding-top: 10px;
}

.conteudo {
	border: 3px solid red;
	/*padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;*/
	padding: 20px;
	margin-top: 20px;
    width: 150px;
    margin-left: 5px;
}

.conteudo2 {
    border: 3px solid orange;
	/*padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;*/
	padding: 20px;
	margin-top: 20px;
	width: 150px; 
    margin-left: 5px;
}


